@font-face {
    font-family: nova fonte;
    src: url('../fonts/Autography.otf');
    font-weight: normal;
    font-style: normal;
}

.titulo {
    font-family: nova fonte; /* ?? */
    text-align: center; /* Centraliza os títulos */
    margin-top: 50px; /* Afastamento do topo */
    font-size: 30px; /* Tamanho da fonte dos títulos == para ter uma experiencia "responsiva use px" */
}

p{
    font-family: nova fonte; /* ?? */
    font-size: 40%;
}
.container {
    display: flex; /* Utiliza flexbox para criar colunas */
    justify-content: space-between; /* Espaço entre as colunas */
    width: 80%; /* Largura total da área de leitura */
    margin: auto; /* Centraliza a container */
}

.coluna {
    width: 45%; /* Define a largura de cada coluna */
}

.esquerda {
    text-align: left; /* Alinha texto à esquerda */
    font-size: 50px;
}

.direita {
    font-size: 50px;
    text-align: right; /* Alinha texto à direita */

}

body {
    
    background-image: url('../img/imagem1.jpg');
    background-repeat: no-repeat;
    background-size: cover;

}


body {
    position: relative; /* Permite que o botão seja posicionado em relação ao corpo */
    height: 100vh; /* Altura total da viewport */
    margin: 0; /* Remove margens padrão */
}


#meuBotao {
    position: absolute; /* Permite posicionamento absoluto */
    bottom: 20px; /* Distância do fundo */
    right: 300px; /* Distância da direita */
    background-color: rgba(227, 228, 211, 0.753); /* Verde com 50% de opacidade */
    color: rgba(0, 0, 0, 0.795);
    border: none;
    border-radius: 10px; /* Aumenta o arredondamento das bordas */
    padding: 20px 20px; /* Aumenta o espaçamento interno do botão */
    font-size: 20px; /* Aumenta o tamanho da fonte */
    cursor: pointer;
    transition: background-color 0.3s;
}

#meuBotao:hover {
    background-color: rgba(0, 0, 0, 0.705); /* Aumenta a opacidade ao passar o mouse */
}